* {
    margin: 0;
    padding: 0;
}


.navbar{
    height: 4em;
    background-color: black;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li a {
    color : white;
    text-decoration: none;
}